{% extends "Master/EditController.html.twig" %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>
                {% if fsc.model.id %}Editar Procedimiento{% else %}Nuevo Procedimiento{% endif %}
            </h2>
        </div>
        <div class="card-body">
            <form method="post" class="form">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Código:</label>
                            <input type="text" name="codigo" value="{{ fsc.model.codigo }}" class="form-control" required/>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type="text" name="nombre" value="{{ fsc.model.nombre }}" class="form-control" required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Subproceso:</label>
                    <select name="subproceso_id" class="form-control" required>
                        <option value="">-- Seleccione --</option>
                        {% for subproceso in fsc.subprocesos %}
                            <option value="{{ subproceso.id }}" {% if fsc.model.subproceso_id == subproceso.id %}selected{% endif %}>{{ subproceso.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Versión:</label>
                            <input type="text" name="version" value="{{ fsc.model.version }}" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fecha Aprobación:</label>
                            <input type="date" name="fecha_aprobacion" value="{{ fsc.model.fecha_aprobacion }}" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Documento Oficial (URL):</label>
                    <input type="text" name="documento_url" value="{{ fsc.model.documento_url }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Objetivo:</label>
                    <textarea name="objetivo" class="form-control" rows="2">{{ fsc.model.objetivo }}</textarea>
                </div>
                <div class="form-group">
                    <label>Alcance:</label>
                    <textarea name="alcance" class="form-control" rows="2">{{ fsc.model.alcance }}</textarea>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}