{% extends "Master/EditController.html.twig" %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>
                {% if fsc.model.id %}Editar Ítem PAC{% else %}Nuevo Ítem PAC{% endif %}
            </h2>
        </div>
        <div class="card-body">
            <form method="post" class="form">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Código:</label>
                            <input type="text" name="codigo" value="{{ fsc.model.codigo }}" class="form-control" required/>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label>Descripción:</label>
                            <input type="text" name="descripcion" value="{{ fsc.model.descripcion }}" class="form-control" required/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Partida:</label>
                    <select name="partida_id" class="form-control" required>
                        <option value="">-- Seleccione --</option>
                        {% for partida in fsc.partidas %}
                            <option value="{{ partida.id }}" {% if fsc.model.partida_id == partida.id %}selected{% endif %}>{{ partida.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tipo de Compra:</label>
                            <input type="text" name="tipo_compra" value="{{ fsc.model.tipo_compra }}" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Procedimiento:</label>
                            <input type="text" name="procedimiento" value="{{ fsc.model.procedimiento }}" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Monto Referencial:</label>
                    <input type="number" step="0.01" name="monto_referencial" value="{{ fsc.model.monto_referencial }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Estado:</label>
                    <input type="text" name="estado" value="{{ fsc.model.estado }}" class="form-control"/>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}