{% extends "Master/ListController.html.twig" %}

{% block bodyTop %}
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-sm-6">
            <h1><i class="fas fa-stream"></i> Subprocesos</h1>
        </div>
        <div class="col-sm-6 text-right">
            <a href="{{ fsc.url() }}?action=new" class="btn btn-success">
                <i class="fas fa-plus"></i> Nuevo Subproceso
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Proceso</th>
                <th>Descripción</th>
                <th class="text-right">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for subproceso in fsc.subprocesos %}
            <tr>
                <td>{{ subproceso.codigo }}</td>
                <td>{{ subproceso.nombre }}</td>
                <td>{{ fsc.getProcesoNombre(subproceso.proceso_id) }}</td>
                <td>{{ subproceso.descripcion }}</td>
                <td class="text-right">
                    <a href="{{ fsc.url() }}?action=view&id={{ subproceso.id }}" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{{ fsc.url() }}?action=edit&id={{ subproceso.id }}" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ fsc.url() }}?action=delete&id={{ subproceso.id }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Está seguro?')">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">No hay subprocesos registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}